body {
    font-size:      small;
    font-family:    Verdana, Helvetica, Arial, sans-serif;
    line-height:    1.6em;
}

h1, h2 {
    color:          #007e7e;
}

#guarantee {
    font-family:    Georgia, "Times New Roman", Times, serif;
    color:          #444444;
    font-style:     italic;
    line-height:    1.9em;
    border:         1px dashed white;
    padding:        25px;
    padding-left:   80px;
    margin:         30px;
    margin-right:   250px;
    background:     #a7cece url("images/background.gif") no-repeat top left;

}
#elixirs {
    border:         thin solid #007e7e;
    width:          200px;
    padding:        0px 20px 20px 20px;
    margin-left:    20px;
    background:     url("images/cocktail.gif") repeat-x;
    text-align:     center;
    line-height:    1;
    float:          right;
}
#elixirs h2 {
    color:          black;
}
#elixirs h3 {
    color:          #d12c47;
}
#footer {
    font-size:      90%;
    text-align:     center;
    line-height:    normal;
    margin-top:     200px;
}
.cd {
    font-style:     italic;
}
.artist {
    font-weight:    bold;
}

a:link {
    color:          #007e7e;
}

a:visited {
    color:          #333333;
}

#elixirs a:hover {
    background:     #f88396;
    color:          #0d5353;
}
